doctype html
html(lang="en")
  head
    include partials/header
  body.login
    .contenedor-formulario
      h1 Create your account on UpTask
      if locals.messages
        .alertas
          each category in Object.keys(locals.messages)
            each error in messages[category]
              .alerta(class=`${category}`)
                p= error
      form#formulario.caja.caja-login(method="POST" action="/create-account")
        .campo
          label(for="email") E-mail:
          input(type="email" name="email" placerholder="Email" value= email)
        .campo
          label(for="password") Password:
          input(type="password" name="password" placerholder="Password" value= password)
        .campo.enviar
          input.boton(type="submit" value="Create Account")
        .campo
          a(href="/login") Back to Login
