extends layout

include mixins/createProjectForm

block content
  .contenido-principal
    h1 #{pageName}
    if errors
      each error in errors
        .alerta.error=error.text

    +createProjectForm(project)


