doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style
      include ./email.css
  body
    h2 Reset your password
    p  Hi there,
    p  You have asked for restoring your password, click on link below to restore it. This link has expiration date, if expires you will have to ask for it again.
    a(href=`${resetUrl}`) Click here
    p If you can not access to this link, go to #{resetUrl}
    p If you did not ask for this email, just ignore it.